<article class="country">
    <div>
        <h2 class="country-title">{{name}}</h2>

        <p class="country-subtitle"><span class="info">Capital:</span> {{capital}}</p>
        <p class="country-subtitle"><span class="info">Population:</span> {{population}}</p>
        <p class="country-subtitle"><span class="info">Languages:</span></p>
        <ul class="languages">
            {{#each languages}}
            <li>{{name}}</li>
            {{/each}}
        </ul>
    </div>
    <img src="{{flag}}" alt="flag" width="320">
</article>